<table class="table">
  <tr>
      <td>
          <h3>Lista de Parametros</h3>
      </td>
      <td><button class="btn btn-primary" [routerLink] = "['/parametro-crear']">Nuevo Parametro</button></td>
  </tr>
</table>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>Clave</th>
            <th>Valor</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody *ngIf="parametros?.length != 0">
        <tr *ngFor="let parametro of parametros">
            <td>{{parametro.clave}}</td>
            <td>{{parametro.valor}}</td>
            <td>
            <a class="btn btn-default" (click)="editParameter(parametro.id)">Ver</a>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="parametros?.length == 0">
      <tr>
        <td colspan="8" class="no-data-available">No data!</td>
      </tr>
    <tbody>
</table>

<!--<a ui-sref="tipoExpedDtos-new" class="btn-primary btn-lg">Agregar Nuevo Expedientes de un Departamento</a>-->