<div class="container">
  <h2>Editar Permiso</h2>
  <form [formGroup]="permisoForm" (ngSubmit)="editarPermiso()" class="px-4 py-3">
    <div class="form-group">
      <label for="codigo">Código</label>
      <input formControlName="codigo" type="text" class="form-control" id="codigo" placeholder="Código">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input formControlName="descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripción">
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
    <a [routerLink]="['/permisos']" class="btn btn-link">Cancelar</a>
  </form>
</div>