<table class="table">
    <tr>
        <td>
            <h3>Ventas Canceladas</h3>
        </td>
    </tr>
  </table>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
          <tr>
              <th>Fecha</th>
              <th>Nº Factura</th>
              <th>Cliente</th>
              <th>Importe</th>
              <th>Descuento</th>
              <th>Tipo de Venta</th>
              <th>Estado</th>
              <th>Acción</th>
          </tr>
      </thead>
      <tbody *ngIf="ventas?.length != 0">
          <tr *ngFor="let venta of ventas">
              <td>{{venta.fecha}}</td>
              <td>{{venta.nroFactura}}</td>
              <td>{{venta.cliente.razonSocial}}</td>
              <td>{{venta.importe}}</td>
              <td>{{venta.descuento}}</td>
              <td>{{venta.tipoVenta.descripcion}}</td>
              <td *ngIf="venta.estado === 'A'">Aprobado</td>
              <td *ngIf="venta.estado === 'C'">Cancelado</td>
              <td>
                  <a class="btn btn-default" (click)="editVenta(venta.id)">Ver</a>
              </td>
          </tr>
      </tbody>
      <tbody *ngIf="ventas?.length == 0">
        <tr>
          <td colspan="8" class="no-data-available">No hay Ventas Registradas!</td>
        </tr>
      <tbody>
  </table>