<div class="container">
  <h2>Regitrar Apertura de Caja</h2>
  <form [formGroup]="cajaForm" (ngSubmit)="aperturaCaja()" class="px-4 py-3">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="fecha">Fecha</label>
        <div class="input-group">
          <input formControlName="fechaApertura" type="text" class="form-control" id="fechaApertura" placeholder="Fecha de Aperutra">
        </div>
      </div>
      <div class="form-group col-md-3">
      </div>
      <div class="form-group col-md-6">
        <label for="usuario">Usuario</label>
        <!--<input formControlName="usuario" type="text" class="form-control" id="usuario" placeholder="Usuario">-->
        <p class="form-control" id="usuario">{{usuario.usuario}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="montoApertura">Monto Apertura</label>
      <input formControlName="montoApertura" type="number" class="form-control" id="montoApertura" placeholder="Monto de Apertura" [ngClass]="{ 'is-invalid': submitted && f.montoApertura.errors }">
      <div *ngIf="submitted && f.montoApertura.errors" class="invalid-feedback">
        <div *ngIf="f.montoApertura.errors.required">Monto de Apertura es requerido</div>
      </div>
    </div>
    <div class="form-group">
      <label for="uso">Uso de la caja</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="uso" name="uso" id="uso1" value="V" checked>
        <label class="form-check-label" for="uso1">
          Venta
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="uso" name="uso" id="uso2" value="C">
        <label class="form-check-label" for="uso2">
          Compra
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <a [routerLink]="['/cajas']" class="btn btn-link">Cancelar</a>
  </form>
</div>