<div class="container">
  <h2>Editar Cliente</h2>
  <form [formGroup]="clienteForm" (ngSubmit)="editarCliente()" class="px-4 py-3">
    <div class="form-group">
      <label for="ruc">Ruc</label>
      <input formControlName="ruc" type="text" class="form-control" id="ruc" placeholder="RUC" [ngClass]="{ 'is-invalid': submitted && f.ruc.errors }">
      <div *ngIf="submitted && f.ruc.errors" class="invalid-feedback">
        <div *ngIf="f.ruc.errors.required">Ruc es requerido</div>
      </div>
    </div>
    <div class="form-group">
      <label for="razonSocial">Razón Social</label>
      <input formControlName="razonSocial" type="text" class="form-control" id="razonSocial" placeholder="Razón Social" [ngClass]="{ 'is-invalid': submitted && f.razonSocial.errors }">
      <div *ngIf="submitted && f.razonSocial.errors" class="invalid-feedback">
        <div *ngIf="f.razonSocial.errors.required">Razon Social es requerido</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
    <a [routerLink]="['/clientes']" class="btn btn-link">Cancelar</a>
  </form>
</div>