<!--<div class="dropdown-menu">-->
    
  <div class="container">
      <div class="animated fadeOut" *ngIf="alert" class="alert alert-danger" role="alert">
          Contraseña y/o Usuario incorrectos
      </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="px-4 py-3">
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input formControlName="usuario" type="text" class="form-control" id="user" placeholder="usuario">
    </div>
    <div class="form-group">
      <label for="pass">Contraseña</label>
      <input formControlName="password" type="password" class="form-control" id="pass" placeholder="Contraseña">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
    <a [routerLink]="['/registrer']" class="btn btn-link">Registrarse</a>
  </form>
</div>