<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-faded">
  <a class="navbar-brand" [routerLink] = "['home']">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- active -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['productos']"><i class="fa fa-balance-scale"></i>&nbsp;Productos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['proveedores']"><i class="fa fa-hand-spock-o"></i>&nbsp;Proveedores</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['clientes']"><i class="fa fa-address-card"></i>&nbsp;Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [matMenuTriggerFor]="compras"><i class="fa fa-shopping-cart"></i>&nbsp;Compras</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [matMenuTriggerFor]="ajustes"><i class="fa fa-calendar-check-o"></i>&nbsp;Ajustes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"[routerLink] = "['about']">About</a>
        </li>
        
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Heroe" (keyup.enter)="buscarHeroe(buscarTexto.value)" aria-label="Search" #buscarTexto>
      <button (click)="buscarHeroe(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
    </form>-->
  </div>

  <a class="navbar-item cursor-white" mat-menu-item [matMenuTriggerFor]="usuario"><i class="fa fa-user"></i>&nbsp;Usuario</a>

  <mat-menu #usuario="matMenu">
    <button mat-menu-item [routerLink] = "['cambiarPass']">Cambiar Password</button>
    <button mat-menu-item [routerLink] = "['parametros']">Parametros del Sistema</button>
    <button mat-menu-item [routerLink] = "['perfiles']">Administrar Roles</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  
  <mat-menu #compras="matMenu">
    <button mat-menu-item [routerLink] = "['compras']">Historial de Compras</button>
    <button mat-menu-item [routerLink] = "['compra-crear']">Registrar Compra</button>
    <button mat-menu-item [routerLink] = "['compras-pendientes']">Compras Pendientes</button>
    <button mat-menu-item [routerLink] = "['compras-canceladas']">Compras Canceladas</button>
  </mat-menu>

  <mat-menu #ajustes="matMenu">
    <button mat-menu-item [routerLink] = "['ajustes']">Historico de Ajustes de Inventario</button>
    <button mat-menu-item [routerLink] = "['ajuste-crear']">Registrar un Ajuste de Inventario</button>
  </mat-menu>


</nav>