<table class="table">
  <tr>
      <td>
          <h3>Informe de Ventas</h3>
      </td>
      <td><button class="btn btn-primary" (click)="informe()"><i class="fa fa-file-pdf-o"></i>&nbsp;Informe PDF</button></td>
      <td><button class="btn btn-primary" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"></i>&nbsp;Informe XLSX</button></td>
  </tr>
</table>
<form [formGroup]="informeForm" (ngSubmit)="buscar()" class="px-4 py-3">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="desde">Desde: </label>
        <div class="input-group">
          <input formControlName="desde" type="text" class="form-control" id="desde" placeholder="Desde" [max]="maxDate" [matDatepicker]="dp3">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </div>
        <label for="hasta">Hasta: </label>
        <div class="input-group">
          <input formControlName="hasta" type="text" class="form-control" id="hasta" placeholder="Hasta" [max]="maxDate" [matDatepicker]="dp4">
          <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
          <mat-datepicker #dp4 disabled="false"></mat-datepicker>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="estado">Estado: </label>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="estado" name="estado" id="estado2" value="A">
          <label class="form-check-label" for="estado2">
            Aprobada
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="estado" name="estado" id="estado3" value="C">
          <label class="form-check-label" for="estado3">
            Cancelada
          </label>
        </div>
        <button class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Buscar</button>
    </div>
    </div>
</form>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Nº Factura</th>
            <th>Cliente</th>
            <th>Importe</th>
            <th>Descuento</th>
            <th>Tipo de Venta</th>
        </tr>
    </thead>
    <tbody *ngIf="ventas?.length != 0">
        <tr *ngFor="let venta of ventas">
            <td>{{venta.fecha}}</td>
            <td>{{venta.nroFactura}}</td>
            <td>{{venta.cliente.razonSocial}}</td>
            <td>{{venta.importe}}</td>
            <td>{{venta.descuento}}</td>
            <td>{{venta.tipoVenta.descripcion}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="ventas?.length == 0">
      <tr>
        <td colspan="6" class="no-data-available">No data!</td>
      </tr>
    <tbody>
</table>

<!--<a ui-sref="tipoExpedDtos-new" class="btn-primary btn-lg">Agregar Nuevo Expedientes de un Departamento</a>-->