<h2>Registro</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
        </div>
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" formControlName="apellido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
        <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
            <div *ngIf="f.apellido.errors.required">Apellido es requerido</div>
        </div>
    </div>
    <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" formControlName="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
        <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
            <div *ngIf="f.usuario.errors.required">Usuario es requerido</div>
        </div>
    </div>
    <div class="form-group">
      <label for="email">Correo Electronico</label>
      <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Correo Electronico es requerido</div>
      </div>
  </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="clave" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clave.errors }" />
        <div *ngIf="submitted && f.clave.errors" class="invalid-feedback">
            <div *ngIf="f.clave.errors.required">Password es requerido</div>
            <div *ngIf="f.clave.errors.minlength">Password al menos debe tener 6 caracteres</div>
        </div>
    </div>
    <div class="form-group">
        <label for="perfilesAsignados">Roles</label>
        <div class="example-container">
          <h2>Lista</h2>
          <div
            cdkDropList
            #perfiles="cdkDropList"
            [cdkDropListData]="permisos"
            [cdkDropListConnectedTo]="[perfilesAsignados]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of permisos" cdkDrag>{{item.descripcion}}</div>
          </div>
        </div>
        
        <div class="example-container">
          <h2>Asignado</h2>
          <div
            cdkDropList
            #perfilesAsignados="cdkDropList"
            [cdkDropListData]="permisosAsignados"
            [cdkDropListConnectedTo]="[perfiles]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of permisosAsignados" cdkDrag>{{item.descripcion}}</div>
          </div>
        </div>
    </div>
    
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Registrar</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/login']" class="btn btn-link">Cancelar</a>
    </div>
</form>